@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sintony:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0; 
}


/*---------------------------------------Colors */

body {
    background-color: antiquewhite;
    font-family: "Poppins", sans-serif;
    color: slategrey;
}

/* make all images black and white - code from https://www.w3schools.com/howto/howto_css_image_bw.asp*/
img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }  

.active{
    text-transform: uppercase;
}

.end-page-border {
    border: 2px solid darkgray;
}

/*--- Header and Nav code adapted from Love Running Project on Code Institute*/

header {
    background-color: antiquewhite;
    height: 75px;
}  

#logo {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 200%;
    text-transform: uppercase;
    margin-left: 20px;
    color: slategrey;
    float: left;
}

header a {
    text-decoration: none;
}

#menu {
    float: right;
    list-style-type: none;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: left;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/*-----------------------------------Hero image and callout 
code adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity 
---------------------------------------------------------------------------------------------------*/
.hero-image{
    margin-top: 75px;
}

.image-overlay {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.image {
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.callout {
    transition: 2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-wrap: nowrap;
    color: inherit;
  }

  .callout-text {
    font-size: 150%;
  }

  .image-overlay:hover .image {
    opacity: 0.3;
  }
  
  .image-overlay:hover .callout {
    opacity: 1;
  }


  .button {
    text-decoration: none;
    color: inherit;
    background-color: antiquewhite;
   
  }

  .button:hover {
    text-decoration: none;
    color: inherit;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

/*---------------------------------------Reviews section */

#reviews {
    width: 100%;
    max-width: 1800px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.quote {
    height: 300px;
    width: 20%;
    text-align: center;
}

.left {
    float: left;
    margin-left: 25%;
}

.right {
    float: right;
    margin-right: 25%;
}

.quote-text {
    font-family: "Dancing Script", sans-serif;
    font-size: 250%;
}

.quote-by {
    font-family: "Sintony", sans-serif;
    font-size: 50%;
    line-height: 50px;
}


#history {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------------Listen page */

#video-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
}

.video-size {
    width: 50%;
    height: 350px;
    border-radius: 8px;
}

#video-description {
    margin-top: 40px;
}

.align-center {
    text-align: center;
}

.larger {
    font-size: 300%;
    padding: 10px 10px;
    margin: 20px 20px;
}

/*---------------------------------------Shop page */

#shop-container {
    margin-top: 40px;
}

/*---------------------------------------Shows page*/

#live-info {
    max-width: 80%;
    height: 250px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    max-width: 100%;
    height: 100px;
    text-align: center;
}

.sign-up {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.form-field {
    background-color: antiquewhite;
    padding: 5px;
    border: 1px solid slategrey;
    border-radius: 5px;

}

.email-submit {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
}

.show-image-container {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    margin-top: 40px;
}

.show-image-container img {
    display: inline-block;
    max-width: 30%;
    border-radius: 5px;
    margin-left: 2%;
}

.festy img {
    display: block;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 40px;

}

.live-info {
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

/*---------------------------------------mailinglist.html styling */

#mailing-image {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#mailing-image img {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.close {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    text-align: center;
}



/* https://stackoverflow.com/questions/65616144/how-to-make-html5-audio-player-responsive */

#audio-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
audio {
    max-height: 100%;
           max-width: 100%;
           margin: auto;
           object-fit: contain;
}

/*---------------------------------------contact form*/

.contact-form {
    text-align: center;
    margin-top: 40px;
}

.contact-form label {
    padding-top: 10px;
}

.message-box { 
    width: 60%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid slategrey;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-size: 80%;  
} 

/*---------------------------------------contactconfirm */

#message {
    margin-top: 40px;
}

#contact-image {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#contact-image img {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

/*---------------------------------------shopconfirm */

.band-store {
    font-size: 200%;
}

/*---------------------------------------footer*/

footer {
    height: 75px;
    width: 100%;
    margin-bottom: 0;

}

footer div {
    width: 100%;
    line-height: 25px;
    text-align: center;
}

.socials {

    height: 40px;
    float: left;
}

.media-links {
   width: 350px;
   margin-right: auto;
   margin-left: auto;
}

.media-links li {
    font-size: 120%;
    list-style-type: none;
    float: left;
    padding-left: 30px;

}

.contact {
    margin-top: 40px;
}

.copyright {
    margin-top: 10px;
}

/*---------------------------------------404 page*/

.push-down {
    margin-top: 20%;
}

.rejoin-button {
    border: 1px solid slategrey;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

/*---------------------------------------responsive styling header*/

@media screen and (max-width: 1000px) {
    .callout-text {
        font-size: 90%;
        line-height: 10px;
    }
}


@media screen and (max-width: 800px) {
    #logo {
        font-size: 200%;
    }
    }

@media screen and (max-width: 640px) {

    header {
        height: 120px;
    }

    #logo {
        float: none;
        text-align: center;
        margin: 0px;
    }

    #menu {
        line-height: 25px;
    }

    .center {
        width: 300px;
        position: fixed;
        left: 50%;
        margin-left: -165px;
        padding-bottom: 20px;

    }

    .hero-image{
        margin-top: 120px;
    }

    .callout-text {
        line-height: 6px;
    }
}    

@media screen and (max-width: 450px) {

    .callout-text {
        line-height: 2px;
    }
}
    
/*---------------------------------------responsive styling review quotes*/    

@media screen and (max-width: 1477px) {
    .quote {
        height: 200px;
        width: 20%;
        text-align: center;
    }
    .quote-text {
        font-family: "Dancing Script", sans-serif;
        font-size: 250%;
        line-height: 50px;
    }
    
    .quote-by {
        font-family: "Sintony", sans-serif;
        font-size: 45%;
        line-height: 50px;
    }

}    

@media screen and (max-width: 1228px) {
    .quote {
        height: 200px;
        width: 22%;
        text-align: center;
    }
    .quote-text {
        font-family: "Dancing Script", sans-serif;
        font-size: 250%;
        line-height: 50px;
    }
    
    .quote-by {
        font-family: "Sintony", sans-serif;
        font-size: 45%;
        line-height: 50px;
    }
    

}

@media screen and (max-width: 1123px) {
    .quote {
        height: 200px;
        width: 25%;
        text-align: center;
    }

    .left {
        float: left;
        margin-left: 20%;
    }
    
    .right {
        float: right;
        margin-right: 20%;
    }
}

@media screen and (max-width: 982px) {
    .quote-text {
        font-family: "Dancing Script", sans-serif;
        font-size: 230%;
        line-height: 50px;
    }
    
    .quote-by {
        font-family: "Sintony", sans-serif;
        font-size: 40%;
        line-height: 50px;
    }
    

}



@media screen and (max-width: 903px) {
    .quote {
        height: 150px;
        width: 30%;
        text-align: center;
    }

    .left {
        float: left;
        margin-left: 10%;
    }
    
    .right {
        float: right;
        margin-right: 10%;
    }
}

@media screen and (max-width: 762px) {
    .quote {
        height: 150px;
        width: 35%;
        text-align: center;
    }

    .left {
        float: left;
        margin-left: 10%;
    }
    
    .right {
        float: right;
        margin-right: 10%;
    }
}

@media screen and (max-width: 645px) {
    .quote {
        height: 150px;
        width: 40%;
        text-align: center;
    }

    .left {
        float: left;
        margin-left: 5%;
    }
    
    .right {
        float: right;
        margin-right: 5%;
    }
}

@media screen and (max-width: 564px) {
    .quote-text {
        font-family: "Dancing Script", sans-serif;
        font-size: 200%;
        line-height: 50px;
    }
    
    .quote-by {
        font-family: "Sintony", sans-serif;
        font-size: 40%;
        line-height: 50px;
    }

}

@media screen and (max-width: 491px) {
    .quote {
        height: 100px;
        width: 60%;
        text-align: center;
    }

    .left {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .right {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .quote-text {
        font-family: "Dancing Script", sans-serif;
        font-size: 200%;
        line-height: 30px;
    }
    
    .quote-by {
        font-family: "Sintony", sans-serif;
        font-size: 40%;
        line-height: 20px;
    }

} 

/*---------------------------------------responsive Listen page */

@media screen and (max-width: 850px) {

    .video-size {
        width: 66%;
        height: 250px;
    }  
}

@media screen and (max-width: 550px) {

    .video-size {
        width: 80%;
        height: 150px;
    }  
}

/*---------------------------------------responsive mailinglist page */

@media screen and (max-width: 750px) {

    #mailing-image img{
        display: none;

    }

    #easter-egg {
        margin-top: 150px;
    }

    #hero-image img {
        display: none;
    }

    #mail-call p {
        display: none;
    }
    
}

/*---------------------------------------responsive mailinglist page */

@media screen and (max-width: 750px) {

    #contact-image img{
        display: none;

    }
}

/*---------------------------------------responsive shows page */

@media screen and (max-width: 750px) {
    .show-image-container img {
        display: none;
    }

    .festy img {
        display: none;
    }
}

